<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sm9.boot.dao.CenterDeviceDao">
    <cache/>
    <select id="getCenterDeviceList" resultType="centerDevice">
        select * from center_device limit #{offset}, #{count}
    </select>

    <select id="getCenterDeviceCount" resultType="_int">
        select COUNT(*) from center_device
    </select>

    <select id="getCenterDeviceById" resultType="centerDevice">
        select * from center_device where center_device_id = #{centerDeviceId}
    </select>

    <select id="getCenterDeviceListByState" resultType="centerDevice">
        select * from center_device where center_device_state = #{centerDeviceState} limit #{offset}, #{count}
    </select>

    <insert id="addCenterDevice" parameterType="centerDevice">
        insert into center_device
        values (#{centerDeviceId}, #{centerDeviceIp},
                #{centerDeviceName}, #{centerDeviceNumber},
                #{centerDeviceState}, #{centerDeviceKeyState},
                #{centerDevicePasswordState}, #{centerDevicePassword},
                #{centerDeviceDescription})
    </insert>

    <update id="updateCenterDevice" parameterType="centerDevice">
        update center_device
        <trim prefix="set" suffixOverrides=",">
            <if test="centerDeviceIp != null">center_device_ip=#{centerDeviceIp},</if>
            <if test="centerDeviceName != null">center_device_name=#{centerDeviceName},</if>
            <if test="centerDeviceNumber != null">center_device_number=#{centerDeviceNumber},</if>
            <if test="centerDeviceState != null">center_device_state=#{centerDeviceState},</if>
            <if test="centerDeviceKeyState != null">center_device_key_state=#{centerDeviceKeyState},</if>
            <if test="centerDevicePasswordState != null">center_device_password_state=#{centerDevicePasswordState},</if>
            <if test="centerDevicePassword != null">center_device_password=#{centerDevicePassword},</if>
            <if test="centerDeviceDescription != null">center_device_description=#{centerDeviceDescription}</if>
        </trim>
        where center_device_id=#{centerDeviceId}
    </update>

    <delete id="deleteCenterDeviceById">
        delete from center_device where center_device_id=#{centerDeviceId}
    </delete>

    <delete id="deleteCenterDeviceByState">
        delete from center_device where center_device_state=#{CenterDeviceState}
    </delete>
</mapper>