<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sm9.boot.dao.LoginDao">
    <select id="login" resultType="com.alibaba.fastjson.JSONObject">
        SELECT u.id userId
        FROM user u
        WHERE u.username = #{username}
          AND u.password = #{password}
    </select>
    <select id="getUserIdByUserName" resultType="com.alibaba.fastjson.JSONObject">
        SELECT u.id userId
        FROM user u
        WHERE u.username = #{username}
    </select>

    <resultMap id="userInfo" type="sessionUserInfo">
        <id column="userId" property="userId"/>
        <result column="username" property="username"/>
        <result column="userUnit" property="userUnit"/>
        <result column="userEmail" property="userEmail"/>
        <result column="userPhoneNumber" property="userPhoneNumber"/>
        <collection property="roleIds" ofType="String">
            <id column="roleId" property="roleId"/>
        </collection>
        <collection property="menuList" ofType="String">
            <id column="menuCode" property="menuCode"/>
        </collection>
        <collection property="permissionList" ofType="String">
            <id column="permissionCode" property="permissionCode"/>
        </collection>
    </resultMap>
    <select id="getUserInfo" resultMap="userInfo">
        SELECT u.id              userId,
               u.username        username,
               u.user_unit       userUnit,
               u.user_email      userEmail,
               u.user_phone_number userPhoneNumber,
               ur.role_id        roleId,
               p.menu_code       menuCode,
               p.permission_code permissionCode
        FROM user u
                 LEFT JOIN user_role ur on u.id = ur.user_id
                 LEFT JOIN role r ON r.id = ur.role_id
                 LEFT JOIN role_permission rp ON r.id = rp.role_id
                 LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE u.username = #{username}
          AND u.user_state = '1'
    </select>

    <select id="getAllMenu" resultType="String">
        select distinct(menu_code)
        from permission;
    </select>
    <select id="getAllPermissionCode" resultType="String">
        select permission_code
        from permission;
    </select>

</mapper>