<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sm9.boot.dao.RelationDao">

    <select id="getRelationCount" resultType="_int">
        select COUNT(*) from relation
    </select>

    <select id="getRelationListByCenterDeviceId" resultType="relation">
        select * from relation where center_device_id=#{centerDeviceId} limit #{offset}, #{count}
    </select>

    <select id="getRelationList" resultType="relation">
        select * from relation limit #{offset}, #{count}
    </select>

    <delete id="deleteRelation">
        delete from relation where center_device_id=#{centerDeviceId} and terminal_device_id in 
            <foreach collection="array" item="terminalDeviceId" open="(" separator="," close=")">
                #{terminalDeviceId}
            </foreach>
    </delete>

    <insert id="addRelation" useGeneratedKeys="true" keyProperty="id">
        insert into relation values (0,#{terminalDeviceId}, #{centerDeviceId})
    </insert>

<!--    <update id="updateRelation">-->
<!--        update relation set terminal_device_id=#{terminalDeviceId},-->
<!--    </update>-->
</mapper>