<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sm9.boot.dao.TerminalDeviceDao">

    <cache/>
    <select id="getTerminalDeviceList" resultType="terminalDevice">
        select td.terminal_device_id,
               td.terminal_device_name,
               td.terminal_device_ip,
               td.terminal_device_key_state,
               td.terminal_device_description,
               r.center_device_id terminalDeviceCenterDeviceId
        from terminal_device td
            left join relation r on td.terminal_device_id = r.terminal_device_id
        limit #{offset}, #{count}
    </select>

    <select id="getTerminalDeviceCount" resultType="_int">
        select COUNT(*) from terminal_device
    </select>

    <select id="getTerminalDeviceById" resultType="terminalDevice">
        select td.terminal_device_id,
               td.terminal_device_name,
               td.terminal_device_ip,
               td.terminal_device_key_state,
               td.terminal_device_description,
               r.center_device_id terminalDeviceCenterDeviceId
        from terminal_device td
            left join relation r on td.terminal_device_id = r.terminal_device_id
        where td.terminal_device_id = #{terminalDeviceId}
    </select>

    <delete id="deleteTerminalDeviceById">
        delete from terminal_device where terminal_device_id=#{terminalDeviceId}
    </delete>

    <insert id="addTerminalDevice" parameterType="terminalDevice">
        insert into terminal_device
        values (#{terminalDeviceId},
                #{terminalDeviceIp},#{terminalDeviceName},
                #{terminalDeviceKeyState},#{terminalDeviceDescription})
    </insert>

    <update id="updateTerminalDevice" parameterType="terminalDevice">
        update terminal_device
        <trim prefix="set" suffixOverrides=",">
            <if test="terminalDeviceIp != null">terminal_device_ip=#{terminalDeviceIp},</if>
            <if test="terminalDeviceName != null">terminal_device_name=#{terminalDeviceName},</if>
            <if test="terminalDeviceKeyState != null">terminal_device_key_state=#{terminalDeviceKeyState},</if>
            <if test="terminalDeviceDescription != null">terminal_device_description=#{terminalDeviceDescription}</if>
        </trim>
        where terminal_device_id=#{terminalDeviceId}
    </update>

    <select id="getTerminalDeviceListByCenterDeviceId" resultType="terminalDevice">
        select td.terminal_device_id,
               td.terminal_device_name,
               td.terminal_device_ip,
               td.terminal_device_key_state,
               td.terminal_device_description,
               r.center_device_id terminalDeviceCenterDeviceId
        from terminal_device td
            left join relation r on td.terminal_device_id = r.terminal_device_id
        where r.center_device_id = #{terminalDeviceCenterDeviceId}
        limit #{offset}, #{count}
    </select>

    <delete id="deleteTerminalDeviceByCenterDeviceId">
        delete from terminal_device where terminal_device_id in
        <foreach collection="list" item="relation" open="(" separator="," close=")">
            #{relation.terminalDeviceId}
        </foreach>
    </delete>
</mapper>